/***********
 Slide margins and spacings
 ************/

.remark-slide-content {
  padding-top: 5px;
  padding-left: 50px;
  padding-right: 50px;
}

/* Custom color number slide*/
.remark-slide-number {
  color: black;
  font-weight: bold;
  font-size: 10pt;
  margin-bottom: -5px;
  margin-right: 10px;
}

/*
To specify the margin of the first title h1
*/

.remark-slide-content > h1:first-of-type {
  margin-top: 20px;
  margin-bottom: -10px;
}

.remark-slide-content > h2:first-of-type {
  color: #006633;
  margin-top: 20px;
  margin-bottom: 10px;
}

.remark-slide-content > h3:first-of-type {
  margin-top: 5px;
  margin-bottom: 10px;
}
.remark-slide-content > h4:first-of-type {
  margin-top: 5px;
  margin-bottom: 10px;
}

/* Logo */

.logo {
  background-image: url(fig/slide-title/sciflor.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 1em;
  right: 1em;
  width: 110px;
  height: 128px;
  z-index: 0;
}

/* footer and header */

div.my-header {
    background-color: #3dbb53;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#3bb250), color-stop(0%,#2f9040), color-stop(0%,#3bb250), color-stop(10%,#3bb250), color-stop(25%,#3dbb53), color-stop(100%,#3dbb53));
    position: fixed;
    top: 0px;
    left: 0px;
    height: 30px;
    width: 100%;
    text-align: left;
}

div2 {
  color: #0000ff;
  font-weight: bold;
}

div3 {
  color: #DAF7A6;
  font-weight: bold;
}

.brown{
 color: brown;
}

.magenta{
 color: magenta;
}

div.my-footer {
    background-color: #3dbb53;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 30px;
    width: 100%;
    text-align: left;
    color: black;
}

div.my-footer span {
    font-size: 10pt;
    position: absolute;
    left: 15px;
    bottom: 5px;
}

/*************************
  Custom classes
**************************/

.pull-left-2 {
  float: left;
  width: 60%;
}

.pull-right-1 {
  float: right;
  width: 36%;
}

.pull-left-1 {
  float: left;
  width: 36%;
}
.pull-right-2 {
  float: right;
  width: 60%;
}

.pull-left-3 {
  float: left;
  width: 70%;
}
.pull-right-3 {
  float: right;
  width: 26%;
}

.pull-left-4 {
  float: left;
  width: 48%;
}

.pull-right-4 {
  float: right;
  width: 48%;
}

.pull-left-5 {
  float: left;
  width: 25%;
}

.pull-right-5 {
  float: right;
  width: 70%;
}

.pull-left-6 {
  float: left;
  width: 26%;
}

.pull-left-7 {
  float: left;
  width: 20%;
}

.pull-left-8 {
  float: left;
  width: 33%;
}

.pull-left-9 {
  float: left;
  width: 55%;
}

.pull-right-9 {
  float: right;
  width: 40%;
}

.pull-left-10 {
  float: left;
  width: 45%;
}

.pull-right-10 {
  float: right;
  width: 55%;
}

.pull-left-11 {
  float: left;
  width: 45%;
}

.pull-right-11 {
  float: right;
  width: 45%;
}


.pull-left-12 {
  float: left;
  width: 22%;
}

.pull-right-12 {
  float: right;
  width: 75%;
}

.pull-left-13 {
  float: left;
  width: 40%;
}

.pull-right-13 {
  float: right;
  width: 60%;
}

.pull-left-14 {
  float: left;
  width: 30%;
}

.pull-right-14 {
  float: right;
  width: 30%;
}

.pull-right-15 {
  float: right;
  width: 100%;
}

.pull-left-15 {
  float: left;
  width: 80%;
}

.pull-left-16 {
  float: left;
  width: 90%;
}

.pull-right-16 {
  float: right;
  width: 10%;
}


/* use to position text at the bottom */
.pull-down {
  position: absolute;
  bottom: 50px;
}

/* Change default inverse background colour */
.inverse {
  background-color: black;
  text-shadow: none;
  color: black;
}
.inverse .remark-slide-number {
  display: none;
}
/* background colour classes */
.sydney-blue {
  background-color: #0148A4;
  color: white;
}
.sydney-yellow {
  background-color: #FFB800;
}
.sydney-red {
  background-color: #e64626;
  color: white;
}
/* segue */
.segue {
  text-align:center;
  vertical-align: middle;
  background-color: #0148A4;
  color: #ffffff;
  text-shadow: 0 0 20px #333;
}
.segue .remark-slide-number {
  display: none;
}

.segue-red {
  text-align:center;
  vertical-align: middle;
  background-color: #e64626;
  color: #ffffff;
  text-shadow: 0 0 20px #333;
}
.segue-red .remark-slide-number {
  display: none;
}

.segue-yellow {
  text-align:center;
  vertical-align: middle;
  background-color: #FFB800;
  color: #424242;
  text-shadow: 0 0 2px #333;
}
.segue-yellow .remark-slide-number {
  display: none;
}

/* example slide with background colour to distinguish
it from other content slides */
.eg {
  background-color: #F1F1F1;
  /* rgb(231, 238, 242); */
}
.eg.nobackground {
  background-color:white;
}

/* link colour */
a {
  color: green;
  font-weight: normal;
}

.columns-2 {
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em;
}

.columns-21 {
  -webkit-columns: 66%, 33%;
  -moz-columns: 66%, 33%;
  columns: 66%, 33%;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em;
}

/******************
 * Slide scrolling
 * (non-functional)
 * not sure if it is a good idea anyway
slides > slide {
  overflow: scroll;
 padding: 5px 40px;
}
.scrollable-slide .remark-slide {
  height: 400px;
  overflow: scroll !important;
}
 ******************/

.scroll-box-8 {
  height:8em;
  overflow-y: scroll;
}
.scroll-box-10 {
  height:10em;
  overflow-y: scroll;
}
.scroll-box-12 {
  height:12em;
  overflow-y: scroll;
}
.scroll-box-14 {
  height:14em;
  overflow-y: scroll;
}
.scroll-box-16 {
  height:16em;
  overflow-y: scroll;
}
.scroll-box-18 {
  height:18em;
  overflow-y: scroll;
}
.scroll-box-20 {
  height:20em;
  overflow-y: scroll;
}
.scroll-output {
  height: 90%;
  overflow-y: scroll;
}

 /* inline code background */
 .remark-inline-code {
   /* until the link between code and mathjax
   is broken, we need to use transparent */
  background: transparent; /* #F5F5F5; /* lighter */
  /* background: #e7e8e2; /* darker */
  border-radius: 3px;
  padding: 2px;
}



/******************
 * Coloured content boxes
 ****************/
.content-box {
    box-sizing: border-box;
    background-color: #e2e2e2;
}
.content-box-blue,
.content-box-gray,
.content-box-grey,
.content-box-army,
.content-box-green,
.content-box-purple,
.content-box-red,
.content-box-yellow {
  box-sizing: border-box;
  border-radius: 15px;
  margin: 0 0 15px;
  overflow: hidden;
  padding: 0px 20px 0px 20px;
  width: 100%;
}
.content-box-blue { background-color: #F0F8FF; }
.content-box-gray { background-color: #e2e2e2; }
.content-box-grey {	background-color: #F5F5F5; }
.content-box-army {	background-color: #737a36; }
.content-box-green { background-color: #d9edc2; }
.content-box-purple { background-color: #e2e2f9; }
.content-box-red { background-color: #ffcccc; }
.content-box-yellow { background-color: #fef5c4; }
.content-box-blue .remark-inline-code,
.content-box-blue .remark-inline-code,
.content-box-gray .remark-inline-code,
.content-box-grey .remark-inline-code,
.content-box-army .remark-inline-code,
.content-box-green .remark-inline-code,
.content-box-purple .remark-inline-code,
.content-box-red .remark-inline-code,
.content-box-yellow .remark-inline-code {
  background: none;
}

.full-width {
    display: flex;
    width: 100%;
    flex: 1 1 auto;
}

/***********
 Changed CSS
 **************/

.opacity{ opacity: 0.5; }
.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(10px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
.grayscale img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

/**************
 * Fancy stuff
 **************/
.rotate-left {
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    transform: rotate(-2deg);
}
.rotate-right {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    transform: rotate(2deg);
}
/**********
 * Image stuff
 ************/
.polaroid img {
    border: 10px solid #fff;
    border-bottom: 45px solid #fff;
    -webkit-box-shadow: 3px 3px 3px #111;
    -moz-box-shadow: 3px 3px 3px #111;
    box-shadow: 3px 3px 3px #111;
}
.shadow {
    -moz-border-radius: 5px;
    -moz-box-shadow: 5px 5px 5px #aaa;
    -webkit-box-shadow: 5px 5px 5px #aaa;
    box-shadow: 5px 5px 5px #aaa;
    border-radius: 2px;
}

.shadow1 {
  box-shadow: 0 -20px 15px -10px rgba(28, 205, 0, 0.3) inset,
              0 20px 15px -10px rgba(28, 205, 0, 0.3) inset,
              0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 0.1em;
  margin-bottom: 0.2em;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 1000px;
  border-radius: 2px;
  padding-top: 0px;
  padding-left: 15px;
  padding-right: 10px;
  padding-bottom: 10px;
  text-align: justify;
  text-justify: inter-word;
}

.shadow2 {
  box-shadow: 5px 5px rgba(0, 98, 90, 0.4),
              10px 10px rgba(0, 98, 90, 0.3),
              15px 15px rgba(0, 98, 90, 0.2),
              20px 20px rgba(0, 98, 90, 0.1),
              25px 25px rgba(0, 98, 90, 0.05);
  margin-top: 0.1em;
  margin-bottom: 0.2em;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 900px;
  border-radius: 2px;
  padding-top: -5px;
  padding-left: 15px;
  padding-right: 10px;
  padding-bottom: 10px;
  text-align: justify;
  text-justify: inter-word;
}

.shadow3 {
  box-shadow: 0 20px 50px rgba(8, 112, 184, 0.7);
  margin-top: 0.1em;
  margin-bottom: 0.2em;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 1100px;
  border-radius: 2px;
  padding-top: -5px;
  padding-left: 15px;
  padding-right: 10px;
  text-align: justify;
  text-justify: inter-word;
}

.shadow3C {
  box-shadow: 0 20px 50px rgba(8, 112, 184, 0.7);
  margin-top: 0.1em;
  margin-bottom: 0.2em;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 1000px;
  border-radius: 2px;
  padding-top: -5px;
  padding-left: 15px;
  padding-right: 10px;
  text-align: center;
  text-justify: inter-word;
}

.shadow4 {
  box-shadow: 0 10px 10px rgba(28, 205, 0, 0.3);
  margin-top: 0.1em;
  margin-bottom: 0.2em;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 1000px;
  border-radius: 2px;
  padding-top: -5px;
  padding-left: 15px;
  padding-right: 10px;
  text-align: justify;
  text-justify: inter-word;
}


/* disable background colour when printing */

@page { margin: 0; }
@media print {
  .inverse, .segue, .segue-yellow, .segue-red, .sydney-blue,
  .sydney-yellow, .sydney-red {
    background-color: transparent;
    color: black;
    text-shadow: none;
  }
  .inverse h1, .inverse h2, .inverse h3, .inverse h4, .inverse h5, .segue {
    background-color: transparent;
    color: black;
    text-shadow: none;
  }
  .eg {
    background-color: transparent;
  }
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}

/* Font size */
.font100 {
  font-size: 100%;
}

.font120 {
  font-size: 120%;
}

.font80 {
  font-size: 80%;
}

.font50 {
  font-size: 50%;
}

.font90 {
  font-size: 90%;
}

.font20 {
  font-size: 20%;
}

.font300 {
  font-size: 300%;
}

.font65 {
  font-size: 65%;
}

.font70 {
  font-size: 70%;
}

/*~~~~~~~~~~~~~~~~*/
/* USYD additions */
/*~~~~~~~~~~~~~~~~*/

/* Title slide */
/* Title slide */
/* Add image and change bg color
.title-slide {
  background-image: url(USydLogo-black.svg), url("title-image.jpg");
  /* background-image: url(https://sydney.edu.au/etc/designs/corporate-commons/bower_components/corporate-frontend/dist/assets/img/USydLogo.svg); */
  /*
  background-position: 10% 90%, 100% 50%;
  background-size: 160px, 50% 100%;
  background-color: #e64626;
  /*padding-left: 100px;   delete this for 4:3 aspect ratio */
/*
}
*/

.title-slide {
  /*background-image: url(ufpa.png), url(logo-forest.png), url(leave.jpg), url(forest.jpg);*/
  /* background-image: url(https://sydney.edu.au/etc/designs/corporate-commons/bower_components/corporate-frontend/dist/assets/img/USydLogo.svg); */
  /*background-position: 20% 1%, 30% 3%, left, right;*/
  /*background-size: 100px, 100px, 600px 1500px, 600px 710px;*/
  background-color: #ffffff;
  text-align:right;
  border-bottom: none;
  vertical-align: top;
  /*text-shadow: none;*/
  border-image: 0px none;
  border-top: 0px solid #FAFAFA;
  text-shadow: none;
  /*padding-left: 100px;   delete this for 4:3 aspect ratio */
}

/*Modifica o slide de titulo*/
h1 {
  font-weight: normal;
  text-shadow: none;
  margin-top: 0px;
  margin-left: 0px;
  color: black;
  padding-top: 0px;
}

h2 {
  padding-top: 20px;
  padding-bottom: 00px;
  color: #b83505;
  text-shadow: none;
  font-weight: 400;
  margin-left: 5px;
  margin-bottom: 0px;
}

h3 {
  padding-top: -15px;
  padding-bottom: 00px;
  color: #dd7321;
  text-shadow: none;
  font-weight: 200;
  margin-left: 5px;
  margin-bottom: 0px;
}

h4 {
  padding-top: -15px;
  padding-bottom: 00px;
  color: #ed4406;
  text-shadow: none;
  font-weight: 400;
  margin-left: 5px;
  margin-bottom: 0px;
}

/* H1 fonts */
.title-slide h1 {
  color: black; /* first of type is master brand red */
  font-size: 40px;
  font-weight: bold;
  padding-top: 30px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 50px;
  margin-left: 0px;
  margin-top: 0px;
  text-align: center;
  vertical-align: middle;
}


/* H2 fonts */
.title-slide h2 {
  color: white !important; /* first of type is master brand red */
  font-size: 50px;
  font-weight: bold;
  padding-top: 30px;
  padding-left: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;
  text-align: center;
  vertical-align: middle;
}

/* H3 fonts */
.title-slide h3 {
  font-size: 28px;
  font-weight: normal;
  color: #00cc00;
  padding-left: 20px;
  margin: 0px;
  line-height: 1;
  text-align: left;
  margin-left: 70px;
  vertical-align: middle;
}


/* H4 fonts */
.title-slide h4 {
  color: white !important;
  font-size: 20px;
  font-weight: normal;
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;
  text-align: center;
  vertical-align: middle;
}

/* H5 fonts */
.title-slide h5 {
  color: #DAF7A6 !important;
  font-size: 15px;
  font-weight: normal;
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;
  text-align: center;
  vertical-align: middle;
}

/* H6 fonts */
.title-slide h6 {
  color: orange !important;
  font-size: 30px;
  font-weight: normal;
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;
  text-align: center;
  vertical-align: middle;
}

/* Remove slide count */
.title-slide .remark-slide-number {
  display: none;
}

/* USYD blockquote */
blockquote, .blockquote {
  display: block;
  max-width: 900px;
  /*text-align: center;*/
  font-family: Helvetica;
  color: #000000;
  margin-top: 0.1em;
  margin-bottom: 0.2em;
  margin-left: 5px;
  margin-right: 5px;
  border-left: solid 10px #00b300;
  border-top: solid 2px #00b300;
  border-bottom: solid 2px #00b300;
  border-right: solid 2px #00b300;
  /*border-radius: 30px;*/
  box-shadow: 0 0 6px rgba(0,0,0,0.5);
  /* background-color: #e64626; */
  padding: 0.5em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.blockquote p {
  margin-top: 0px;
  margin-bottom: 5px;
}
.blockquote > h1:first-of-type {
  margin-top: 0px;
  margin-bottom: 5px;
}
.blockquote > h2:first-of-type {
  margin-top: 0px;
  margin-bottom: 5px;
}
.blockquote > h3:first-of-type {
  margin-top: 0px;
  margin-bottom: 5px;
}
.blockquote > h4:first-of-type {
  margin-top: 0px;
  margin-bottom: 5px;
}

.text-shadow {
  text-shadow: 0 0 4px #424242;
}


/* Custom bullets */
ul {
  list-style: none; /* Remove default bullets */
}

ul li::before {
  content: "\2022";
  color: red; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}


.right-column {
  width: 50%;
  float: right;
  padding-top: 1em;
  color: black;
}

.left-column {
  width: 50%;
  float: left;
  padding-top: 1em;
  color: black;
}

.center2 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  /*-ms-transform: translate(-50%, -50%);*/
  transform: translate(-50%, -5%);
}

.landscape {
    height: 30px;
    width: 80px;
}

/* if wanted to change mathjax formatting
.remark-inline-code .mjx-chtml {
  color: blue;
}
*/

/* References: many customisations adapted from the examples here:
https://github.com/yihui/xaringan/tree/master/inst/rmarkdown/templates/xaringan/resources
*/


/*
Masterbrand charcoal #424242;
C=0 M=0 Y=0 K=90
R=66 G=66 B=66
Masterbrand red #e64626;
C=0 M=0 Y=0 K=90
R=66 G=66 B=66
Masterbrand white #ffffff;
C=0 M=0 Y=0 K=0
R=255 G=255 B=255
Masterbrand black #000000;
C=0 M=0 Y=0 K=100
R=10 G=10 B=10
Accent yellow #FFB800
C=0 M=25 Y=98 K=0
R=255 G=184 B=0
Accent blue #0148A4
C=100 M=61 Y=0 K=0
R=1 G=72 B=164
Accent grey - supportive #F1F1F1
C=0 M=0 Y=0 K=10
R=241 G=241 B=241
*/
